 <h2 class="mb-4">Manage Events</h2>
    <form class="mb-4" (ngSubmit)="createEvent()">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="eventName" name="name" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" [(ngModel)]="eventDescription" name="description" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label">Date</label>
        <input type="datetime-local" class="form-control" [(ngModel)]="eventDate" name="dateTime" required>
      </div>
      <div class="mb-3">
          <label class="form-label">Type</label>
          <select [(ngModel)]="eventType" name="type" required class="form-select">
            <option value="theater-plays">Theater Play</option>
            <option value="concerts">Concert</option>
            <option value="talks">Talk</option>
          </select>
      </div>
      <button class="btn btn-primary" type="submit">Create Event</button>
    </form>

    <table class="table table-striped" *ngIf="events.length">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Date</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of events">
          <td>{{ e.id }}</td>
          <td>{{ e.name }}</td>
          <td>{{ e.dateTime }}</td>
          <td>{{ e.description }}</td>
          <td>
            <button class="btn btn-sm btn-warning">Edit</button>
            <button class="btn btn-sm btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>