 <h2 class="mb-4">Manage Events</h2>
    <button class="btn btn-primary mb-3" (click)="toCreateEvent()">Create Event</button>
    <table class="table table-striped" *ngIf="events.length">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Date</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of events">
          <td>{{ e.id }}</td>
          <td>{{ e.name }}</td>
          <td>{{ e.dateTime }}</td>
          <td>{{ e.description }}</td>
          <td>
            <button class="btn btn-sm btn-warning">Edit</button>
            <button class="btn btn-sm btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>